certifi==2025.10.5
charset-normalizer==3.4.4
cloudscale-sdk==0.7.0
cs==3.4.0
hcloud==2.9.0
idna==3.11
jsonpickle==4.1.1
proxmoxer==2.2.0
python-dateutil==2.9.0.post0
python-digitalocean==1.17.0
python-dotenv==1.2.1
python-json-logger==4.0.0
pytz==2025.2
pyyaml==6.0.3
requests==2.32.5
schedule==1.2.2
six==1.17.0
urllib3==2.5.0
xdg==6.0.0
