certifi==2024.2.2
charset-normalizer==3.3.2
cloudscale-sdk==0.7.0
cs==3.2.0
hcloud==1.33.2
idna==3.6
jsonpickle==3.0.2
proxmoxer==1.3.1
python-dateutil==2.8.2
python-digitalocean==1.17.0
python-dotenv==1.0.1
python-json-logger==2.0.7
pytz==2024.1
pyyaml==6.0.1
requests==2.31.0
schedule==1.2.1
six==1.16.0
urllib3==2.2.0
xdg==6.0.0
