certifi==2024.8.30
charset-normalizer==3.4.0
cloudscale-sdk==0.7.0
hcloud==2.3.0
idna==3.10
jsonpickle==3.3.0
proxmoxer==2.1.0
python-dateutil==2.9.0.post0
python-digitalocean==1.17.0
python-dotenv==1.0.1
python-json-logger==2.0.7
pyyaml==6.0.2
requests==2.32.3
schedule==1.2.2
six==1.16.0
urllib3==2.2.3
xdg==6.0.0
